<!DOCTYPE html>
<html>
<p>Goodbye Joe</p>
<head>  <style type=\"text/css\">\n  body { text-align:center;font-family:helvetica,arial;font-size:22px;\n    color:#888;mar
gin:20px}\n  #c {margin:0 auto;width:500px;text-align:left}\n  </style>\n</head>\n<body>\n  <h2>Sinatra doesn&rsquo;t know this ditty.</h2>\n  <img src='http://example.o
rg/__sinatra__/404.png'>\n  <div id=\"c\">\n    Try this:\n    <pre># in app.rb\nclass App\n  get &#x27;&#x2F;goodbye&#x27; do\n    &quot;Hello World&quot;\n  end\nend\n
</pre>\n  </div>\n</body>\n</html>\n
